<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Label or your Production Manager</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form [formGroup]="formmanager" (ngSubmit)="onSubmitManager(formmanager.value)" style="width: -moz-available">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faFileContract" class="example-tab-icon"></fa-icon> Management
          </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name" formControlName="namemanager" required />
                  <mat-error *ngIf="formmanager.controls.namemanager.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formmanager.controls.namemanager.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="adressmanager"
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['address']"
                    (onAutocompleteSelected)="onAutocompleteSelectedManager($event)"
                    required
                  />
                  <mat-error *ngIf="formmanager.controls.adressmanager.errors?.required">Address is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style (Rock, Blues, ...)" formControlName="stylemanager" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <ngx-mat-intl-tel-input
                    [preferredCountries]="languagenav"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    placeholder="Phone ( Society )"
                    formControlName="phonemanager"
                    required
                  >
                  </ngx-mat-intl-tel-input>
                  <mat-error *ngIf="formmanager.controls.phonemanager.errors?.required">phone is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email ( Society )" formControlName="emailmanager" required />
                  <mat-error *ngIf="formmanager.controls.emailmanager.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="formmanager.controls.emailmanager.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Type *" formControlName="typemanager">
                    <mat-option value="label">Label</mat-option>
                    <mat-option value="manager">Manager - Producer</mat-option>
                    <mat-option value="pressofficer">Press-officer</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Status *" formControlName="statusmanager">
                    <mat-option value="society">Society</mat-option>
                    <mat-option value="noprofit">Non-profit organisation</mat-option>
                    <mat-option value="contributor">Private contributor</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your activity
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
