<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Equipment Store</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form
          [formGroup]="formequipement"
          (ngSubmit)="onSubmitEquipement(formequipement.value)"
          style="width: -moz-available"
        >
          <ng-template mat-tab-label> <mat-icon class="menu-icon">shop</mat-icon>&nbsp; Equipment </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Society Name" formControlName="nameequip" required />
                  <mat-error *ngIf="formequipement.controls.nameequip.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formequipement.controls.nameequip.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="adressequip"
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['address']"
                    (onAutocompleteSelected)="onAutocompleteSelectedEquip($event)"
                    required
                  />
                  <mat-error *ngIf="formequipement.controls.adressequip.errors?.required"
                    >Address is required</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <ngx-mat-intl-tel-input
                    [preferredCountries]="languagenav"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    placeholder="Phone"
                    formControlName="phoneequip"
                    required
                  >
                  </ngx-mat-intl-tel-input>
                  <mat-error *ngIf="formequipement.controls.phoneequip.errors?.required">phone is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" formControlName="emailequip" required />
                  <mat-error *ngIf="formequipement.controls.emailequip.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="formequipement.controls.emailequip.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Equipment *" formControlName="typeequip">
                    <mat-option value="instruments">Instruments</mat-option>
                    <mat-option value="sound">Sound</mat-option>
                    <mat-option value="light">Light</mat-option>
                    <mat-option value="accessories">Stage-accessories</mat-option>
                    <mat-option value="security">Security</mat-option>
                    <mat-option value="others">Others</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your society
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
