<h1 mat-dialog-title>Upload your channel logo</h1>
<div class="uploader-wrapper">
  <ngx-file-picker
    [adapter]="adapter"
    [enableCropper]="false"
    [uploadType]="'single'"
    [fileExtensions]="['jpg', 'jpeg', 'JPG', 'JPEG', 'png', 'PNG', 'gif', 'GIF']"
    (validationError)="onValidationError($event)"
    (uploadSuccess)="onUploadSuccess($event)"
    (fileAdded)="onFileAdded($event)"
    [fileMaxSize]="7"
  >
  </ngx-file-picker>
</div>
<div>
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="IsWaitProgressBar"></mat-progress-bar>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" tabindex="2" (click)="onNoClick()" [disabled]="isDisabledOkBtn">Ok</button>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" tabindex="3" (click)="onNoClick()" [disabled]="!isDisabledOkBtn">
    Cancel
  </button>
</div>
