<h1 mat-dialog-title>We will send you an Email confirmation click on OK to Send</h1>
<div mat-dialog-content>
  <div *ngIf="data.messagedialog" fxLayout="row" fxLayoutAlign="center center">
    {{ data.messagedialog }}
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.messagedialog" tabindex="2" (click)="onNoClick()">Ok</button>
</div>
