<mat-sidenav-container>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="h-100"
    style="background-image: url(../../../../assets/img/pages/login-register.jpg)"
  >
    <div fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
      <mat-card class="p-0 mat-elevation-z24 box" style="background-color: rgba(0, 0, 0, 0.5)">
        <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
          <div *ngIf="message" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>error</mat-icon> {{ message }}
          </div>
          <button mat-fab color="accent" class="mat-elevation-z12">
            <mat-icon>email</mat-icon>
          </button>
          <h3 class="error">EMAIL SEND</h3>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
          <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
            <p class="box-text">Thank you for joining us.</p>
            <p *ngIf="email" class="box-text">We'll send you an email at {{ email }}</p>
            <p class="box-text">To confirm your registration you must click on his link</p>
            <p class="box-text">Don't Forget to also check your spam box</p>
          </mat-card>
          <button
            mat-raised-button
            color="primary"
            class="mat-elevation-z12 box-button"
            type="button"
            (click)="goHome()"
          >
            RESEND TO ME
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-sidenav-container>
