<div fxLayout="row wrap">
  <div fxFlex="100" class="flex-p">
    <mat-card class="p-0">
      <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="user-name">{{ nameOrga }} - {{ typeOrga }}</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
        <span (mouseleave)="menuTrigger2.closeMenu()">
          <button mat-menu-item>
            <mat-icon>add_alert</mat-icon>
            <span>Subscribe</span>
          </button>
          <button mat-menu-item>
            <mat-icon>contact_mail</mat-icon>
            <span>Send Message</span>
          </button>
        </span>
      </mat-menu>
    </mat-card>
    <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img [src]="logoImage" width="150" (click)="addImgLogoOrga()" />
        </div>
      </div>
      <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
        <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">group_work</mat-icon>
            <span>{{ nameOrga }} </span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">card_membership</mat-icon>
            <span>{{ statusOrga }} </span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">music_video</mat-icon>
            <span>{{ styleOrga }} </span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">event_available</mat-icon>
            <span>Registration {{ addedDateOrga | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
          </p>
        </div>
        <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">mail_outline</mat-icon>
            <span>{{ mailOrga }}</span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">phone</mat-icon>
            <span>{{ phoneOrga }}</span>
          </p>
          <p fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="muted-text">location_on</mat-icon>
            <span>{{ addressOrga }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="user-content" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start">
        description...
      </div>
    </div>
  </div>
</div>
