<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Site</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form [formGroup]="formhall" (ngSubmit)="onSubmitHall(formhall.value)" style="width: -moz-available">
          <ng-template mat-tab-label>
            <fa-icon [icon]="faMapMarkedAlt" class="example-tab-icon"></fa-icon> Site - Concert Hall
          </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name of the site" formControlName="namehall" required />
                  <mat-error *ngIf="formhall.controls.namehall.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formhall.controls.namehall.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address ( site location )"
                    formControlName="adresshall"
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['address']"
                    (onAutocompleteSelected)="onAutocompleteSelectedHall($event)"
                    required
                  />
                  <mat-error *ngIf="formhall.controls.adresshall.errors?.required">Address is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style (Rock, Blues, ...)" formControlName="stylehall" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <ngx-mat-intl-tel-input
                    [preferredCountries]="languagenav"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    placeholder="Phone ( site )"
                    formControlName="phonehall"
                    required
                  >
                  </ngx-mat-intl-tel-input>
                  <mat-error *ngIf="formhall.controls.phonehall.errors?.required">phone is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email ( site )" formControlName="emailhall" required />
                  <mat-error *ngIf="formhall.controls.emailhall.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="formhall.controls.emailhall.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td style="width: 500px">
                <mat-form-field class="w-100">
                  <mat-select placeholder="Type *" formControlName="typehall">
                    <mat-option value="bar">Live entertainement bar</mat-option>
                    <mat-option value="hall">Concert hall</mat-option>
                    <mat-option value="festival">Festival</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Capacity *" formControlName="capacityhall">
                    <mat-option value="50">50 places maxi</mat-option>
                    <mat-option value="100">100 places maxi</mat-option>
                    <mat-option value="250">250 places maxi</mat-option>
                    <mat-option value="500">500 places maxi</mat-option>
                    <mat-option value="1000">1000 places maxi</mat-option>
                    <mat-option value="1000">1000 places maxi</mat-option>
                    <mat-option value="2000">2000 places maxi</mat-option>
                    <mat-option value="2500">2500 places maxi</mat-option>
                    <mat-option value="3500">3500 places maxi</mat-option>
                    <mat-option value="4000">4000 places maxi</mat-option>
                    <mat-option value="4500">4500 places maxi</mat-option>
                    <mat-option value="5000">5000 places maxi</mat-option>
                    <mat-option value="5500">5500 places maxi</mat-option>
                    <mat-option value="6000">6000 places maxi</mat-option>
                    <mat-option value="5500">5500 places maxi</mat-option>
                    <mat-option value="6000">6000 places maxi</mat-option>
                    <mat-option value="6500">6500 places maxi</mat-option>
                    <mat-option value="7000">7000 places maxi</mat-option>
                    <mat-option value="7500">7500 places maxi</mat-option>
                    <mat-option value="8000">8000 places maxi</mat-option>
                    <mat-option value="8500">8500 places maxi</mat-option>
                    <mat-option value="9000">9000 places maxi</mat-option>
                    <mat-option value="10000">10 000 places maxi</mat-option>
                    <mat-option value="20000">20 000 places maxi</mat-option>
                    <mat-option value="30000">30 000 places maxi</mat-option>
                    <mat-option value="40000">40 000 places maxi</mat-option>
                    <mat-option value="50000">50 000 places maxi</mat-option>
                    <mat-option value="60000">60 000 places maxi</mat-option>
                    <mat-option value="70000">70 000 places maxi</mat-option>
                    <mat-option value="80000">80 000 places maxi</mat-option>
                    <mat-option value="90000">90 000 places maxi</mat-option>
                    <mat-option value="100000">100 000 places maxi</mat-option>
                    <mat-option value="150000">150 000 places maxi</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your site
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
