<button mat-icon-button [matMenuTriggerFor]="appsMenu" #appsMenuTrigger="matMenuTrigger">
  <mat-icon>apps</mat-icon>
</button>
<mat-menu #appsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu applications">
  <span (mouseleave)="appsMenuTrigger.closeMenu()">
    <mat-toolbar color="primary">
      <div fxLayout="row" fxLayoutAlign="space-around center" class="header">
        Settings
      </div>
    </mat-toolbar>
    <mat-card-subtitle>
      <br />
      <div fxLayout="row" fxLayoutAlign="center center">Create my activities</div>
    </mat-card-subtitle>
    <mat-card>
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
          <button mat-button (click)="createBand()">
            <mat-icon class="muted-text">music_video</mat-icon>
            <span>My band</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="createSite()">
            <mat-icon class="muted-text">room</mat-icon>
            <span>My site</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="createManage()">
            <mat-icon class="muted-text">description</mat-icon>
            <span>My label</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="createOrga()">
            <mat-icon class="muted-text">group_work</mat-icon>
            <span>My orga</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="createEquip()">
            <mat-icon class="muted-text">shop</mat-icon>
            <span>My Equip</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="createService()">
            <mat-icon class="muted-text">extension</mat-icon>
            <span>My service</span>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <mat-divider style="width: 100%"></mat-divider>
    <mat-card-subtitle>
      <br />
      <div fxLayout="row" fxLayoutAlign="center center">Applications</div>
    </mat-card-subtitle>
    <mat-card>
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">person</mat-icon>
            <span>My account</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="homeSearch()">
            <mat-icon class="muted-text">search</mat-icon>
            <span>Search</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">play_arrow</mat-icon>
            <span>Player</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">settings</mat-icon>
            <span>Settings</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">event</mat-icon>
            <span>Calendar</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">image</mat-icon>
            <span>Gallery</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">library_books</mat-icon>
            <span>Documents</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">mail</mat-icon>
            <span>Mail</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-button>
            <mat-icon class="muted-text">place</mat-icon>
            <span>Maps</span>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </span>
</mat-menu>
