<button mat-icon-button [matMenuTriggerFor]="messagesMenu" (click)="openMessagesMenu()">
  <mat-icon>notifications</mat-icon>
  <span class="badge" *ngIf="badgeCount > 0">{{ badgeCount }}</span>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
  <span (mouseleave)="onMouseLeave()">
    <mat-tab-group backgroundColor="primary" (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>supervisor_account</mat-icon>
          <span class="badge" *ngIf="badgeContactCount > 0">{{ badgeContactCount }}</span>
        </ng-template>
        <mat-card class="content" perfectScrollbar>
          <div *ngIf="notePresContact" fxLayout="column" fxLayoutAlign="none">
            <button
              mat-button
              *ngFor="let message of sortNoteContactTable"
              (click)="onClickNoteContact($event, message.id)"
            >
              <img src="{{ message.image }}" width="50" />
              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="name">{{ message.name }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="info"
                    ><mat-icon>access_time</mat-icon> {{ message.date | date: "dd MM, yy 'at' HH:mm" }}</span
                  >
                </div>
                <span *ngIf="message.text === 'invitation'" class="text muted-text"
                  ><mat-icon *ngIf="message.checked === false">add_circle</mat-icon
                  ><mat-icon *ngIf="message.checked === true">add_circle_outline</mat-icon> Send invitation</span
                >
                <span *ngIf="message.text === 'accept'" class="text muted-text"
                  ><mat-icon *ngIf="message.checked === false">add_circle</mat-icon
                  ><mat-icon *ngIf="message.checked === true">add_circle_outline</mat-icon> Accept your invitation</span
                >
              </div>
            </button>
          </div>
          <div *ngIf="!notePresContact" fxLayout="column" fxLayoutAlign="none">
            <button mat-button>
              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="name">No new contact found</span>
                </div>
                <span class="text muted-text">No new contact found</span>
              </div>
            </button>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>message</mat-icon>
          <span class="badge" *ngIf="badgeMessageCount > 0">{{ badgeMessageCount }}</span>
        </ng-template>
        <mat-card class="content" perfectScrollbar>
          <div *ngIf="notePresMessage" fxLayout="column" fxLayoutAlign="none">
            <button
              mat-button
              *ngFor="let message of sortNoteMessageTable"
              (click)="onClickNoteMessage($event, message.id)"
            >
              <img src="{{ message.image }}" width="50" />
              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="name">{{ message.name }}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="info"
                    ><mat-icon>access_time</mat-icon> {{ message.date | date: "dd MM, yy 'at' HH:mm" }}</span
                  >
                </div>
                <span *ngIf="message.text === 'message'" class="text muted-text"
                  ><mat-icon *ngIf="message.checked === false">add_circle</mat-icon
                  ><mat-icon *ngIf="message.checked === true">add_circle_outline</mat-icon> You receive a new
                  message</span
                >
              </div>
            </button>
          </div>
          <div *ngIf="!notePresMessage" fxLayout="column" fxLayoutAlign="none">
            <button mat-button>
              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="name">No new message found</span>
                </div>
                <span class="text muted-text">No new message found</span>
              </div>
            </button>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>add_alert</mat-icon>
        </ng-template>
        <mat-card class="content" perfectScrollbar>
          <div *ngIf="notePresFollowers" fxLayout="column" fxLayoutAlign="none">
            <button mat-button *ngFor="let meeting of meetings">
              <div fxLayout="column" fxLayoutAlign="center center" class="row-1">
                <span class="name">{{ meeting.day }}</span>
                <span class="name">{{ meeting.month }}</span>
              </div>
              <div fxLayout="column" fxLayoutAlign="none">
                <span class="name">{{ meeting.title }}</span>
                <span class="text muted-text">{{ meeting.text }}</span>
              </div>
            </button>
          </div>
          <div *ngIf="!notePresFollowers" fxLayout="column" fxLayoutAlign="none">
            <button mat-button>
              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                  <span class="name">No new follower found</span>
                </div>
                <span class="text muted-text">No new follower found</span>
              </div>
            </button>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </span>
</mat-menu>
