<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Band</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form [formGroup]="formband" (ngSubmit)="onSubmitBand(formband.value)" style="width: -moz-available">
          <ng-template mat-tab-label> <mat-icon class="example-tab-icon">music_note</mat-icon> Band </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name of the Band" formControlName="nameband" required />
                  <mat-error *ngIf="formband.controls.nameband.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formband.controls.nameband.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style 1" formControlName="style1band" required />
                  <mat-error *ngIf="formband.controls.style1band.errors?.required">Style is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style 2" formControlName="style2band" />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style 3" formControlName="style3band" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="City, Country"
                    formControlName="cityband"
                    matValidateAddress
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['(cities)']"
                    (onAutocompleteSelected)="onAutocompleteSelectedBand($event)"
                    (blur)="onChangeSelectedCityBand($event)"
                    required
                  />
                  <mat-error *ngIf="formband.controls.cityband.errors?.required">City is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email ( Band )" formControlName="emailband" />
                  <mat-error *ngIf="formband.controls.emailband.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Your role in this band *" formControlName="roleband" multiple>
                    <mat-option value="guitarist">Guitarist</mat-option>
                    <mat-option value="bassist">Bassist</mat-option>
                    <mat-option value="drummer">Drummer</mat-option>
                    <mat-option value="singer">Singer</mat-option>
                    <mat-option value="keyboardist">Keyboardist</mat-option>
                    <mat-option value="other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your band
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
