<div fxLayout="column" fxLayoutAlign="center center" class="landing-header">
  <p class="logo">.:live-assault</p>
  <p class="intro-text">in live we trust</p>
  <p class="desc m-0">Start creating your zone to increase your support</p>
  <p class="desc">
    2500 bands, 250 sites, 500 tour manager, +30 tools of planning, webmarketing, ridesharing and others...
  </p>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button routerLink="/login" color="primary">Sign in</button>
    <a mat-raised-button color="accent" routerLink="/register">Register Now</a>
  </div>
</div>

<div class="container">
  <h2 class="muted-text">Check out our social network</h2>
  <p class="muted-text desc">
    Fully application to organize your tour date and festivals with professional members...
  </p>
  <!--<div fxLayout="row wrap" class="py-1">
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
      <p class="text">Band - Musician</p>
      <a routerLink="/" (click)="changeLayout('vertical', 'default', false)" class="link">
        <img src="assets/img/landing/vertical-default.jpg" />
      </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
      <p class="text">Tour Manager - Site - Festival - association</p>
      <a routerLink="/" (click)="changeLayout('horizontal', 'default', false)" class="link">
        <img src="assets/img/landing/horizontal-default.jpg" />
      </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
      <p class="text">Studio - rehearsal space</p>
      <a routerLink="/" (click)="changeLayout('vertical', 'compact', false)" class="link">
        <img src="assets/img/landing/vertical-compact.jpg" />
      </a>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="demo">
      <p class="text">Designer - Label - Others</p>
      <a routerLink="/" (click)="changeLayout('horizontal', 'compact', false)" class="link">
        <img src="assets/img/landing/horizontal-compact.jpg" />
      </a>
    </div>
  </div>-->
  <div fxLayout="row wrap" class="py-1">
    <p class="text">Designed tested and secured with</p>
    <div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://angular.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/angular.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://nestjs.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/nestjs.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="http://cassandra.apache.org/" target="blank" class="link">
          <img src="assets/img/landing/logos/cassandra.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://palantir.github.io/tslint/" target="blank" class="link">
          <img src="assets/img/landing/logos/tslint.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://jasmine.github.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/jasmine.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://codeclimate.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/codeclimate.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://jwt.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/jwt.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://auth0.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/auth0.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="12" class="demo">
        <a href="https://snyk.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/snyk.png" />
        </a>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="py-1">
    <p class="text">Deployed monitored and scalable with</p>
    <div>
      <div fxFlex="100" fxFlex.gt-sm="20" class="demo">
        <a href="https://gitlab.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/gitlab.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20" class="demo">
        <a href="https://kubernetes.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/kubernetes.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20" class="demo">
        <a href="https://www.docker.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/docker.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20" class="demo">
        <a href="https://prometheus.io/" target="blank" class="link">
          <img src="assets/img/landing/logos/prometheus.png" />
        </a>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="20" class="demo">
        <a href="https://grafana.com/" target="blank" class="link">
          <img src="assets/img/landing/logos/grafana.png" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary w-100">
  <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between center" class="landing-footer">
    <span>Copyright ©2018 All Rights Reserved</span>
    <span>Powered by <a mat-button href="" target="blank">Live-Assault</a></span>
  </div>
</div>
