<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Service</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form [formGroup]="formservice" (ngSubmit)="onSubmitService(formservice.value)" style="width: -moz-available">
          <ng-template mat-tab-label> <mat-icon class="menu-icon">extension</mat-icon>&nbsp; Services </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name" formControlName="nameservice" required />
                  <mat-error *ngIf="formservice.controls.nameservice.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formservice.controls.nameservice.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="adressservice"
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['address']"
                    (onAutocompleteSelected)="onAutocompleteSelectedService($event)"
                    required
                  />
                  <mat-error *ngIf="formservice.controls.adressservice.errors?.required">Address is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style (Rock, Blues, ...)" formControlName="styleservice" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <ngx-mat-intl-tel-input
                    [preferredCountries]="languagenav"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    placeholder="Phone"
                    formControlName="phoneservice"
                    required
                  >
                  </ngx-mat-intl-tel-input>
                  <mat-error *ngIf="formservice.controls.phoneservice.errors?.required">phone is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" formControlName="emailservice" required />
                  <mat-error *ngIf="formservice.controls.emailservice.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="formservice.controls.emailservice.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Service *" formControlName="typeservice" multiple>
                    <mat-option value="musicians">Musicians</mat-option>
                    <mat-option value="marketing">Marketing</mat-option>
                    <mat-option value="press">Press</mat-option>
                    <mat-option value="livereport">Live-Reporter</mat-option>
                    <mat-option value="photographer">Photographer</mat-option>
                    <mat-option value="illustrator">Illustrator</mat-option>
                    <mat-option value="school">Music school</mat-option>
                    <mat-option value="rehearsal">Rehearsal space</mat-option>
                    <mat-option value="studio">Studio</mat-option>
                    <mat-option value="security">Security</mat-option>
                    <mat-option value="roadies">Roadies</mat-option>
                    <mat-option value="logistic">Logistic</mat-option>
                    <mat-option value="catering">Catering</mat-option>
                    <mat-option value="makeup">Makeup</mat-option>
                    <mat-option value="insurance">Insurance</mat-option>
                    <mat-option value="engineers">Engineers (sound - light - video)</mat-option>
                    <mat-option value="others">Others</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Status *" formControlName="statusservice">
                    <mat-option value="society">Society</mat-option>
                    <mat-option value="noprofit">Non-profit organisation</mat-option>
                    <mat-option value="contributor">Private contributor</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your service
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
