<mat-sidenav-container>
  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    class="h-100"
    style="background-image: url(../../../assets/img/pages/login-register.jpg)"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
      <mat-card class="p-0 mat-elevation-z24 box register" style="background-color: rgba(0, 0, 0, 0.5)">
        <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
          <button mat-fab color="accent" class="mat-elevation-z12" (click)="onSubmit(form.value)">
            <mat-icon>person_add</mat-icon>
          </button>
          <a mat-button routerLink="/login">Already have an account? Sign in!</a>
          <div *ngIf="message" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon>error</mat-icon> {{ message }}
          </div>
          <div><br /></div>
        </div>
        <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
          <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
            <span class="box-content-header">Register member</span>
            <mat-form-field class="w-100">
              <input matInput placeholder="Pseudo" formControlName="name" />
              <mat-error *ngIf="form.controls.name.errors?.required">Pseudo is required</mat-error>
              <mat-error *ngIf="form.controls.name.hasError('minlength')"
                >Pseudo isn't long enough, minimum of 3 characters</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
              <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Password" formControlName="password" type="password" minlength="6" />
              <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
              <mat-error *ngIf="form.controls.password.hasError('minlength')"
                >Password isn't long enough, minimum of 6 characters</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-100">
              <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="password" />
              <mat-error *ngIf="form.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
              <mat-error *ngIf="form.controls.confirmPassword.hasError('mismatchedPasswords')"
                >Passwords do not match</mat-error
              >
            </mat-form-field>
          </mat-card>
          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">SIGN UP</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</mat-sidenav-container>
