<div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
<div fxFlex="100" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
  <div fxLayout="column">
    <div class="p-0">
      <mat-card class="flex-p">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">Register your Association or Organization</h3>
        </div>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <form [formGroup]="formorga" (ngSubmit)="onSubmitOrga(formorga.value)" style="width: -moz-available">
          <ng-template mat-tab-label> <mat-icon class="menu-icon">group_work</mat-icon>&nbsp; Association </ng-template>
          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Name" formControlName="nameorga" required />
                  <mat-error *ngIf="formorga.controls.nameorga.errors?.required">Name is required</mat-error>
                  <mat-error *ngIf="formorga.controls.nameorga.hasError('minlength')"
                    >Name isn't long enough, minimum of 3 characters</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="adressorga"
                    matGoogleMapsAutocomplete
                    [country]="[]"
                    [types]="['address']"
                    (onAutocompleteSelected)="onAutocompleteSelectedOrga($event)"
                    required
                  />
                  <mat-error *ngIf="formorga.controls.adressorga.errors?.required">Address is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Music Style (Rock, Blues, ...)" formControlName="styleorga" />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <ngx-mat-intl-tel-input
                    [preferredCountries]="languagenav"
                    [enablePlaceholder]="true"
                    [enableSearch]="true"
                    placeholder="Phone ( Orga )"
                    formControlName="phoneorga"
                    required
                  >
                  </ngx-mat-intl-tel-input>
                  <mat-error *ngIf="formorga.controls.phoneorga.errors?.required">phone is required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email ( Orga )" formControlName="emailorga" required />
                  <mat-error *ngIf="formorga.controls.emailorga.errors?.required">Email is required</mat-error>
                  <mat-error *ngIf="formorga.controls.emailorga.hasError('invalidEmail')"
                    >Invalid email address</mat-error
                  >
                </mat-form-field>
              </td>
            </tr>
          </table>

          <table cellspacing="3" class="w-100">
            <tr>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Type *" formControlName="typeorga">
                    <mat-option value="orga">Association</mat-option>
                    <mat-option value="band">Bands</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="w-100">
                  <mat-select placeholder="Status *" formControlName="statusorga">
                    <mat-option value="society">Society</mat-option>
                    <mat-option value="noprofit">Non-profit organisation</mat-option>
                    <mat-option value="contributor">Private contributor</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
            Register your activity
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
