<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <mat-card class="p-0">
      <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="flex-p">Contact</h3>
        <button mat-icon-button [matMenuTriggerFor]="menu1" #menuTrigger1="matMenuTrigger">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <mat-menu #menu1="matMenu" xPosition="before" overlapTrigger="true">
        <span (mouseleave)="menuTrigger1.closeMenu()">
          <button *ngIf="contactState === 'forbidden'" mat-menu-item disabled>
            <mat-icon>chat</mat-icon>
            <span>Pending...</span>
          </button>
          <button *ngIf="contactState === 'pending'" mat-menu-item disabled>
            <mat-icon>chat</mat-icon>
            <span>Pending...</span>
          </button>
          <button *ngIf="contactState === 'confirmed'" mat-menu-item (click)="(deleteContactUser)">
            <mat-icon>speaker_notes_off</mat-icon>
            <span>Remove contact</span>
          </button>
          <button *ngIf="contactState === 'available'" mat-menu-item (click)="sendInviteUser()">
            <mat-icon>chat</mat-icon>
            <span>Invite contact</span>
          </button>
          <button *ngIf="contactState === 'valid'" mat-menu-item (click)="acceptInvitationUser()">
            <mat-icon>how_to_reg</mat-icon>
            <span>Accept Invitation</span>
          </button>
          <button *ngIf="contactState === 'valid'" mat-menu-item (click)="refuseInvitationUser()">
            <mat-icon>speaker_notes_off</mat-icon>
            <span>Refuse Invitation</span>
          </button>
          <button mat-menu-item>
            <mat-icon>contact_mail</mat-icon>
            <span>Send Message</span>
          </button>
        </span>
      </mat-menu>
    </mat-card>
    <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
        <div class="user-img">
          <img [src]="userImage" class="transition-2" />
        </div>
      </div>
      <div fxFlex="70" fxLayout="column" class="user-details transition-2">
        <p fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="muted-text">perm_identity</mat-icon>
          <span>{{ userReadName }}</span>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="muted-text">mail_outline</mat-icon>
          <span>{{ userReadEmail }}</span>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="muted-text">call</mat-icon>
          <span>phone</span>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="muted-text">event_available</mat-icon>
          <!--<span>Joined date</span>-->
          <span>Registration {{ userReadAddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
        </p>
      </div>
    </div>
    <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
      <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
        <button *ngIf="contactState === 'forbidden'" mat-raised-button class="m-1" disabled>
          <mat-icon>chat</mat-icon> Pending...
        </button>
        <button *ngIf="contactState === 'pending'" mat-raised-button class="m-1" disabled>
          <mat-icon>chat</mat-icon> Pending...
        </button>
        <button
          *ngIf="contactState === 'confirmed'"
          mat-raised-button
          color="warn"
          class="m-1"
          (click)="deleteContactUser()"
        >
          <mat-icon>speaker_notes_off</mat-icon> Remove
        </button>
        <button
          *ngIf="contactState === 'available'"
          mat-raised-button
          color="primary"
          class="m-1"
          (click)="sendInviteUser()"
        >
          <mat-icon>chat</mat-icon> Invite
        </button>
        <button
          *ngIf="contactState === 'valid'"
          mat-raised-button
          color="accent"
          class="m-1"
          (click)="acceptInvitationUser()"
        >
          <mat-icon>how_to_reg</mat-icon> Accept
        </button>
        <button
          *ngIf="contactState === 'valid'"
          mat-raised-button
          color="warn"
          class="m-1"
          (click)="refuseInvitationUser()"
        >
          <mat-icon>speaker_notes_off</mat-icon> Refuse
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
      <mat-list>
        <mat-list-item></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item></mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<div fxLayout="row wrap">
  <div *ngFor="let band of bandReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ band.bandReadname }} - {{ band.bandReadstyle }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="band.bandReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">music_video</mat-icon>
              <span>{{ band.bandReadname }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">card_membership</mat-icon>
              <span>{{ band.bandReadstyle }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ band.bandReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ band.bandReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ band.bandReadcity }}, {{ band.bandReadcountry }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let site of siteReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ site.siteReadname }} - {{ site.siteReadtype }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="site.siteReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">room</mat-icon>
              <span>{{ site.siteReadname }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">blur_on</mat-icon>
              <span>{{ site.siteReadcapacity }} Places</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">music_video</mat-icon>
              <span>{{ site.siteReadstyle }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ site.siteReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ site.siteReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">phone</mat-icon>
              <span>{{ site.siteReadphone }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ site.siteReadaddress }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let manage of manageReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ manage.manageReadname }} - {{ manage.manageReadtype }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="manage.manageReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">description</mat-icon>
              <span>{{ manage.manageReadname }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">card_membership</mat-icon>
              <span>{{ manage.manageReadstatus }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">music_video</mat-icon>
              <span>{{ manage.manageReadstyle }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ manage.manageReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ manage.manageReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">phone</mat-icon>
              <span>{{ manage.manageReadphone }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ manage.manageReadaddress }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let orga of orgaReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ orga.orgaReadname }} - {{ orga.orgaReadtype }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="orga.orgaReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">group_work</mat-icon>
              <span>{{ orga.orgaReadname }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">card_membership</mat-icon>
              <span>{{ orga.orgaReadstatus }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">music_video</mat-icon>
              <span>{{ orga.orgaReadstyle }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ orga.orgaReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ orga.orgaReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">phone</mat-icon>
              <span>{{ orga.orgaReadphone }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ orga.orgaReadaddress }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let equip of equipReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ equip.equipReadname }} - {{ equip.equipReadtype }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="equip.equipReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">shop</mat-icon>
              <span>{{ equip.equipReadname }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">card_membership</mat-icon>
              <span>{{ equip.equipReadtype }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ equip.equipReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ equip.equipReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">phone</mat-icon>
              <span>{{ equip.equipReadphone }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ equip.equipReadaddress }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let service of serviceReadTable" fxFlex.gt-md="33.3" fxFlex.md="50" class="flex-p">
    <div fxFlex="100" class="flex-p">
      <mat-card class="p-0">
        <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
          <h3 class="user-name">{{ service.serviceReadname }} - {{ service.serviceReadservice }}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu2="matMenu" xPosition="before" overlapTrigger="true">
          <span (mouseleave)="menuTrigger2.closeMenu()">
            <button mat-menu-item>
              <mat-icon>add_alert</mat-icon>
              <span>Subscribe</span>
            </button>
            <button mat-menu-item>
              <mat-icon>contact_mail</mat-icon>
              <span>Send Message</span>
            </button>
          </span>
        </mat-menu>
      </mat-card>
      <div class="user-content" fxLayout="row" fxLayoutAlign="space-around center">
        <div fxFlex="20" fxFlex.xs="30" fxLayout="column" fxLayoutAlign="center center">
          <div>
            <img [src]="service.serviceReadLogo" width="100" />
          </div>
        </div>
        <div fxFlex="80" fxFlex.xs="70" fxLayout="row" fxLayout.xs="column" class="user-details transition-2">
          <div fxFlex="60" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">extension</mat-icon>
              <span>{{ service.serviceReadname }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">card_membership</mat-icon>
              <span>{{ service.serviceReadstatus }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">music_video</mat-icon>
              <span>{{ service.serviceReadstyle }} </span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">event_available</mat-icon>
              <span>Registration {{ service.serviceReadaddedDate | date: "dd MMMM, yyyy 'at' HH:mm" }}</span>
            </p>
          </div>
          <div fxFlex="40" fxFlex.xs="100" fxLayout="column">
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">mail_outline</mat-icon>
              <span>{{ service.serviceReademail }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">phone</mat-icon>
              <span>{{ service.serviceReadphone }}</span>
            </p>
            <p fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="muted-text">location_on</mat-icon>
              <span>{{ service.serviceReadaddress }}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="user-content" fxLayout="row" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" class="m-1"><mat-icon>add_alert</mat-icon> Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
