.example-tab-icon {
  margin-right: 8px;
  font-size: 20px;
}
:host ::ng-deep .mat-radio-container {
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-outer-circle {
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-inner-circle {
  height: 15px;
  width: 15px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 30px; /*double of your required circle radius*/
  width: 30px; /*double of your required circle radius*/
  left: calc(50% - 15px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 15px); /*'10px'-same as your required circle radius*/
}
