<mat-sidenav-container>
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    class="h-100"
    style="background-image: url(../../../../assets/img/pages/choose-plan.jpg); overflow: auto;"
  >
    <div fxLayoutAlign="start center" fxFlex="7" fxFlex.gt-sm="7" fxFlex.sm="7"></div>
    <div fxFlex="90" fxFlex.gt-sm="60" fxFlex.sm="120" style="opacity:0.95">
      <div fxLayout="column">
        <div class="flex-p">
          <mat-card>
            <mat-card-header fxLayoutAlign="center center">
              <mat-card-subtitle><h2>Define all activities that you practice</h2></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p class="py-1">
                You can add several bands and others activities simultaneously. You can also add and complete them in
                your profile settings later.
              </p>
              <mat-tab-group style="height: 360px">
                <mat-tab>
                  <!--<mat-tab [disabled]="isDisabledBand">-->
                  <form [formGroup]="formband" (ngSubmit)="onSubmitBand(formband.value)">
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">music_note</mat-icon> Band
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Name of the Band" formControlName="nameband" required />
                            <mat-error *ngIf="formband.controls.nameband.errors?.required">Name is required</mat-error>
                            <mat-error *ngIf="formband.controls.nameband.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Style 1" formControlName="style1band" required />
                            <mat-error *ngIf="formband.controls.style1band.errors?.required"
                              >Style is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Style 2" formControlName="style2band" />
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Style 3" formControlName="style3band" />
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="City, Country"
                              formControlName="cityband"
                              matValidateAddress
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['(cities)']"
                              (onAutocompleteSelected)="onAutocompleteSelectedBand($event)"
                              required
                            />
                            <mat-error *ngIf="formband.controls.cityband.errors?.required">City is required</mat-error>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email ( Band )" formControlName="emailband" />
                            <mat-error *ngIf="formband.controls.emailband.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Your role in this band *" formControlName="roleband" multiple>
                              <mat-option value="guitarist">Guitarist</mat-option>
                              <mat-option value="bassist">Bassist</mat-option>
                              <mat-option value="drummer">Drummer</mat-option>
                              <mat-option value="singer">Singer</mat-option>
                              <mat-option value="keyboardist">Keyboardist</mat-option>
                              <mat-option value="other">Other</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">
                      Register your band
                    </button>
                  </form>
                </mat-tab>
                <mat-tab [disabled]="isDisabledHall">
                  <form [formGroup]="formhall" (ngSubmit)="onSubmitHall(formhall.value)">
                    <ng-template mat-tab-label>
                      <fa-icon [icon]="faMapMarkedAlt" class="example-tab-icon"></fa-icon> Site - Concert Hall
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Name of the site" formControlName="namehall" required />
                            <mat-error *ngIf="formhall.controls.namehall.errors?.required">Name is required</mat-error>
                            <mat-error *ngIf="formhall.controls.namehall.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="Address ( site location )"
                              formControlName="adresshall"
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['address']"
                              (onAutocompleteSelected)="onAutocompleteSelectedHall($event)"
                              required
                            />
                            <mat-error *ngIf="formhall.controls.adresshall.errors?.required"
                              >Address is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Phone ( site )"
                              formControlName="phonehall"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="formhall.controls.phonehall.errors?.required"
                              >phone is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email ( site )" formControlName="emailhall" required />
                            <mat-error *ngIf="formhall.controls.emailhall.errors?.required"
                              >Email is required</mat-error
                            >
                            <mat-error *ngIf="formhall.controls.emailhall.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td style="width: 500px">
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Type *" formControlName="typehall">
                              <mat-option value="bar">Live entertainement bar</mat-option>
                              <mat-option value="hall">Concert hall</mat-option>
                              <mat-option value="festival">Festival</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Capacity *" formControlName="capacityhall">
                              <mat-option value="50">50 places maxi</mat-option>
                              <mat-option value="100">100 places maxi</mat-option>
                              <mat-option value="250">250 places maxi</mat-option>
                              <mat-option value="500">500 places maxi</mat-option>
                              <mat-option value="1000">1000 places maxi</mat-option>
                              <mat-option value="1000">1000 places maxi</mat-option>
                              <mat-option value="2000">2000 places maxi</mat-option>
                              <mat-option value="2500">2500 places maxi</mat-option>
                              <mat-option value="3500">3500 places maxi</mat-option>
                              <mat-option value="4000">4000 places maxi</mat-option>
                              <mat-option value="4500">4500 places maxi</mat-option>
                              <mat-option value="5000">5000 places maxi</mat-option>
                              <mat-option value="5500">5500 places maxi</mat-option>
                              <mat-option value="6000">6000 places maxi</mat-option>
                              <mat-option value="5500">5500 places maxi</mat-option>
                              <mat-option value="6000">6000 places maxi</mat-option>
                              <mat-option value="6500">6500 places maxi</mat-option>
                              <mat-option value="7000">7000 places maxi</mat-option>
                              <mat-option value="7500">7500 places maxi</mat-option>
                              <mat-option value="8000">8000 places maxi</mat-option>
                              <mat-option value="8500">8500 places maxi</mat-option>
                              <mat-option value="9000">9000 places maxi</mat-option>
                              <mat-option value="10000">10 000 places maxi</mat-option>
                              <mat-option value="20000">20 000 places maxi</mat-option>
                              <mat-option value="30000">30 000 places maxi</mat-option>
                              <mat-option value="40000">40 000 places maxi</mat-option>
                              <mat-option value="50000">50 000 places maxi</mat-option>
                              <mat-option value="60000">60 000 places maxi</mat-option>
                              <mat-option value="70000">70 000 places maxi</mat-option>
                              <mat-option value="80000">80 000 places maxi</mat-option>
                              <mat-option value="90000">90 000 places maxi</mat-option>
                              <mat-option value="100000">100 000 places maxi</mat-option>
                              <mat-option value="150000">150 000 places maxi</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button
                      mat-raised-button
                      color="primary"
                      class="mat-elevation-z12 box-button"
                      type="submit"
                      [disabled]="isDisabledHall"
                    >
                      Register your site
                    </button>
                  </form>
                </mat-tab>
                <mat-tab [disabled]="isDisabledManager">
                  <form [formGroup]="formmanager" (ngSubmit)="onSubmitManager(formmanager.value)">
                    <ng-template mat-tab-label>
                      <fa-icon [icon]="faFileContract" class="example-tab-icon"></fa-icon> Management
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Name" formControlName="namemanager" required />
                            <mat-error *ngIf="formmanager.controls.namemanager.errors?.required"
                              >Name is required</mat-error
                            >
                            <mat-error *ngIf="formmanager.controls.namemanager.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="Address"
                              formControlName="adressmanager"
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['address']"
                              (onAutocompleteSelected)="onAutocompleteSelectedManager($event)"
                              required
                            />
                            <mat-error *ngIf="formmanager.controls.adressmanager.errors?.required"
                              >Address is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Phone ( Society )"
                              formControlName="phonemanager"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="formmanager.controls.phonemanager.errors?.required"
                              >phone is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email ( Society )" formControlName="emailmanager" required />
                            <mat-error *ngIf="formmanager.controls.emailmanager.errors?.required"
                              >Email is required</mat-error
                            >
                            <mat-error *ngIf="formmanager.controls.emailmanager.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Type *" formControlName="typemanager">
                              <mat-option value="label">Label</mat-option>
                              <mat-option value="manager">Manager - Producer</mat-option>
                              <mat-option value="pressofficer">Press-officer</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Status *" formControlName="statusmanager">
                              <mat-option value="society">Society</mat-option>
                              <mat-option value="noprofit">Non-profit organisation</mat-option>
                              <mat-option value="contributor">Private contributor</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button
                      mat-raised-button
                      color="primary"
                      class="mat-elevation-z12 box-button"
                      type="submit"
                      [disabled]="isDisabledManager"
                    >
                      Register your activity
                    </button>
                  </form>
                </mat-tab>
                <mat-tab [disabled]="isDisabledOrga">
                  <form [formGroup]="formorga" (ngSubmit)="onSubmitOrga(formorga.value)">
                    <ng-template mat-tab-label>
                      <mat-icon class="menu-icon">group_work</mat-icon>&nbsp; Association
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Name" formControlName="nameorga" required />
                            <mat-error *ngIf="formorga.controls.nameorga.errors?.required">Name is required</mat-error>
                            <mat-error *ngIf="formorga.controls.nameorga.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="Address"
                              formControlName="adressorga"
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['address']"
                              (onAutocompleteSelected)="onAutocompleteSelectedOrga($event)"
                              required
                            />
                            <mat-error *ngIf="formorga.controls.adressorga.errors?.required"
                              >Address is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Phone ( Orga )"
                              formControlName="phoneorga"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="formorga.controls.phoneorga.errors?.required"
                              >phone is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email ( Orga )" formControlName="emailorga" required />
                            <mat-error *ngIf="formorga.controls.emailorga.errors?.required"
                              >Email is required</mat-error
                            >
                            <mat-error *ngIf="formorga.controls.emailorga.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Type *" formControlName="typeorga">
                              <mat-option value="orga">Association</mat-option>
                              <mat-option value="band">Bands</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Status *" formControlName="statusorga">
                              <mat-option value="society">Society</mat-option>
                              <mat-option value="noprofit">Non-profit organisation</mat-option>
                              <mat-option value="contributor">Private contributor</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button
                      mat-raised-button
                      color="primary"
                      class="mat-elevation-z12 box-button"
                      type="submit"
                      [disabled]="isDisabledOrga"
                    >
                      Register your activity
                    </button>
                  </form>
                </mat-tab>
                <mat-tab [disabled]="isDisabledService">
                  <form [formGroup]="formservice" (ngSubmit)="onSubmitService(formservice.value)">
                    <ng-template mat-tab-label>
                      <mat-icon class="menu-icon">extension</mat-icon>&nbsp; Services
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Name" formControlName="nameservice" required />
                            <mat-error *ngIf="formservice.controls.nameservice.errors?.required"
                              >Name is required</mat-error
                            >
                            <mat-error *ngIf="formservice.controls.nameservice.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="Address"
                              formControlName="adressservice"
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['address']"
                              (onAutocompleteSelected)="onAutocompleteSelectedService($event)"
                              required
                            />
                            <mat-error *ngIf="formservice.controls.adressservice.errors?.required"
                              >Address is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Phone"
                              formControlName="phoneservice"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="formservice.controls.phoneservice.errors?.required"
                              >phone is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="emailservice" required />
                            <mat-error *ngIf="formservice.controls.emailservice.errors?.required"
                              >Email is required</mat-error
                            >
                            <mat-error *ngIf="formservice.controls.emailservice.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Service *" formControlName="typeservice">
                              <mat-option value="musicians">Musicians</mat-option>
                              <mat-option value="marketing">Marketing</mat-option>
                              <mat-option value="press">Press</mat-option>
                              <mat-option value="livereport">Live-Reporter</mat-option>
                              <mat-option value="photographer">Photographer</mat-option>
                              <mat-option value="illustrator">Illustrator</mat-option>
                              <mat-option value="school">Music school</mat-option>
                              <mat-option value="studio">Studio</mat-option>
                              <mat-option value="security">Security</mat-option>
                              <mat-option value="roadies">Roadies</mat-option>
                              <mat-option value="logistic">Logistic</mat-option>
                              <mat-option value="catering">Catering</mat-option>
                              <mat-option value="makeup">Makeup</mat-option>
                              <mat-option value="insurance">Insurance</mat-option>
                              <mat-option value="engineers">Engineers (sound - light - video)</mat-option>
                              <mat-option value="others">Others</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Status *" formControlName="statusservice">
                              <mat-option value="society">Society</mat-option>
                              <mat-option value="noprofit">Non-profit organisation</mat-option>
                              <mat-option value="contributor">Private contributor</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button
                      mat-raised-button
                      color="primary"
                      class="mat-elevation-z12 box-button"
                      type="submit"
                      [disabled]="isDisabledService"
                    >
                      Register your service
                    </button>
                  </form>
                </mat-tab>
                <mat-tab [disabled]="isDisabledEquip">
                  <form [formGroup]="formequipement" (ngSubmit)="onSubmitEquipement(formequipement.value)">
                    <ng-template mat-tab-label>
                      <mat-icon class="menu-icon">shop</mat-icon>&nbsp; Equipment
                    </ng-template>
                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Society Name" formControlName="nameequip" required />
                            <mat-error *ngIf="formequipement.controls.nameequip.errors?.required"
                              >Name is required</mat-error
                            >
                            <mat-error *ngIf="formequipement.controls.nameequip.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input
                              matInput
                              placeholder="Address"
                              formControlName="adressequip"
                              matGoogleMapsAutocomplete
                              [country]="[]"
                              [types]="['address']"
                              (onAutocompleteSelected)="onAutocompleteSelectedEquip($event)"
                              required
                            />
                            <mat-error *ngIf="formequipement.controls.adressequip.errors?.required"
                              >Address is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Phone"
                              formControlName="phoneequip"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="formequipement.controls.phoneequip.errors?.required"
                              >phone is required</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="emailequip" required />
                            <mat-error *ngIf="formequipement.controls.emailequip.errors?.required"
                              >Email is required</mat-error
                            >
                            <mat-error *ngIf="formequipement.controls.emailequip.hasError('invalidEmail')"
                              >Invalid email address</mat-error
                            >
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table cellspacing="3" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Equipment *" formControlName="typeequip">
                              <mat-option value="instruments">Instruments</mat-option>
                              <mat-option value="sound">Sound</mat-option>
                              <mat-option value="light">Light</mat-option>
                              <mat-option value="accessories">Stage-accessories</mat-option>
                              <mat-option value="security">Security</mat-option>
                              <mat-option value="others">Others</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <button
                      mat-raised-button
                      color="primary"
                      class="mat-elevation-z12 box-button"
                      type="submit"
                      [disabled]="isDisabledEquip"
                    >
                      Register your society
                    </button>
                  </form>
                </mat-tab>
              </mat-tab-group>
              <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <mat-card>
                  <mat-card-content>
                    <table cellspacing="5" class="w-100">
                      <tr>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="First Name" formControlName="firstname" required />
                            <mat-error *ngIf="form.controls.firstname.errors?.required">Name is required</mat-error>
                            <mat-error *ngIf="form.controls.firstname.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <input matInput placeholder="Last Name" formControlName="lastname" required />
                            <mat-error *ngIf="form.controls.lastname.errors?.required">Name is required</mat-error>
                            <mat-error *ngIf="form.controls.lastname.hasError('minlength')"
                              >Name isn't long enough, minimum of 3 characters</mat-error
                            >
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="w-100">
                            <ngx-mat-intl-tel-input
                              [preferredCountries]="languagenav"
                              [enablePlaceholder]="true"
                              [enableSearch]="true"
                              placeholder="Your Phone"
                              formControlName="phone"
                              required
                            >
                            </ngx-mat-intl-tel-input>
                            <mat-error *ngIf="form.controls.phone.errors?.required">phone is required</mat-error>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </mat-card-content>
                </mat-card>
                <br />
                <button
                  mat-raised-button
                  color="primary"
                  class="mat-elevation-z12 box-button"
                  type="submit"
                  [disabled]="isDisabledJoinUs"
                >
                  JOIN US
                </button>
                <mat-error *ngIf="messageactor">error {{ messageactor }}</mat-error>
              </form>
            </mat-card-content>
            <p class="py-1">
              * Required <br />
              Last Name, Address and Phone are private by default you can change this settings in your profile later
            </p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
