<div fxLayout="row" fxLayoutAlign="space-between start" class="flex-p">
  <div fxFlex="20" class="flex-p">
    <mat-card style="width: -moz-available">
      <mat-card-header>
        <mat-card-subtitle><h4>Filter By</h4></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h4>Channel type:</h4>
        <mat-divider></mat-divider>
        <mat-selection-list
          #activityList
          (selectionChange)="onGroupsActivityChange(activityList.selectedOptions.selected)"
        >
          <mat-list-option
            *ngFor="let activity of activities"
            [value]="activity.valueact"
            [selected]="activity.selected"
          >
            {{ activity.name }}
          </mat-list-option>
        </mat-selection-list>
        <form [class.show]="true">
          <mat-form-field class="user-search-input">
            <mat-select
              matInput
              placeholder="Types of Services:"
              [(ngModel)]="searchServiceType"
              name="searchBandLocation"
              multiple
              [disabled]="isDisabledType"
              (selectionChange)="onSelectedType($event)"
            >
              <mat-option value="musicians">Musicians</mat-option>
              <mat-option value="marketing">Marketing</mat-option>
              <mat-option value="press">Press</mat-option>
              <mat-option value="livereport">Live-Reporter</mat-option>
              <mat-option value="photographer">Photographer</mat-option>
              <mat-option value="illustrator">Illustrator</mat-option>
              <mat-option value="school">Music school</mat-option>
              <mat-option value="rehearsal">Rehearsal space</mat-option>
              <mat-option value="studio">Studio</mat-option>
              <mat-option value="security">Security</mat-option>
              <mat-option value="roadies">Roadies</mat-option>
              <mat-option value="logistic">Logistic</mat-option>
              <mat-option value="catering">Catering</mat-option>
              <mat-option value="makeup">Makeup</mat-option>
              <mat-option value="insurance">Insurance</mat-option>
              <mat-option value="engineers">Engineers (sound - light - video)</mat-option>
              <mat-option value="others">Others</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <br />
        <hr />
        <br />
        <h4>Music Style:</h4>
        <mat-divider></mat-divider>
        <!--<form class="pad-search" [class.show]="true">-->
        <mat-form-field class="pad-search" [class.show]="true">
          <input
            matInput
            placeholder="By Style..."
            [(ngModel)]="searchBandName"
            name="searchBandName"
            (keyup)="onSearchStyle($event)"
          />
        </mat-form-field>
        <!--</form>-->
        <br />
        <hr />
        <br />
        <h4>Geo Point:</h4>
        <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" (change)="onChangeLocation($event)">
        </mat-slide-toggle>
        <mat-divider></mat-divider>
        <br />
        <br />
        Choose your Location:
        <button mat-icon-button color="warn" [disabled]="disabledSlider" (click)="pickLocationSearch()">
          <mat-icon>room</mat-icon>
        </button>
        <br />
        or enter city:
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="City"
            matValidateAddress
            matGoogleMapsAutocomplete
            [disabled]="disabledSlider"
            [country]="[]"
            [types]="['(cities)']"
            (onAutocompleteSelected)="onAutocompleteSelectedCitySearch($event)"
          />
        </mat-form-field>
        <!--lat: {{ searchLocationLatStr }} / lon: {{ searchLocationLonStr }}-->
        <br />
        <br />
        <p>
          Around (Km): {{ valueSlider }}
          <input
            matInput
            type="number"
            placeholder="Value"
            [(ngModel)]="valueSlider"
            [disabled]="disabledSlider"
            (click)="onInputChange($event)"
          />
        </p>
        <br />
        <mat-slider
          style="width: 250px"
          (input)="onSliderChange($event)"
          class="example-margin"
          [disabled]="disabledSlider"
          [invert]="invertSlider"
          [max]="maxSlider"
          [min]="minSlider"
          [step]="stepSlider"
          [thumbLabel]="thumbLabelSlider"
          [tickInterval]="false"
          [(ngModel)]="valueSlider"
          [vertical]="verticalSlider"
        >
          >
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="80" class="flex-p">
    <!--<div fxLayout="row">-->
    <!--<mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">-->
    <!--<mat-button-toggle value="stop" (click)="onSearchNameOff()">-->
    <!--<mat-icon>highlight_off</mat-icon>-->
    <!--</mat-button-toggle>-->
    <!--<mat-button-toggle value="search">-->
    <!--<mat-icon>search</mat-icon>-->
    <!--</mat-button-toggle>-->
    <!--</mat-button-toggle-group>-->
    <!--</div>-->
    <form class="user-search" [class.show]="true">
      <mat-form-field class="user-search-input">
        <input
          matInput
          placeholder="Searching with name..."
          [(ngModel)]="searchText"
          name="search"
          (keyup)="onSearchName($event)"
        />
      </mat-form-field>
      <br />
      <br />
    </form>
    <div fxLayout="row">
      <h2>
        Last channels collected:
      </h2>
    </div>
    <div fxLayout="row">
      <small class="muted-text">
        (
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">music_video</mat-icon>
        Bands,
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">room</mat-icon> Site,
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">description</mat-icon>
        Managers,
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">group_work</mat-icon>
        Associations,
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">shop</mat-icon> Equipment,
        <mat-icon style="height: 16px; font-size: 12px; width: 12px; vertical-align: middle">extension</mat-icon>
        Services)
      </small>
    </div>
    <div fxLayout="row">
      <mat-table
        #table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%; background-color: rgba(255,255,255,0)"
      >
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Channels </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="member">
          <mat-header-cell *matHeaderCellDef> Since </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.member }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="city">
          <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.city }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.country }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="activity">
          <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
          <mat-cell *matCellDef="let element"
            ><mat-icon class="muted-text">{{ element.icon }}</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="style">
          <mat-header-cell *matHeaderCellDef> Style </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.style }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Details
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-icon-button color="primary" (click)="onDetails($event, element.details, element.activity)">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <div fxLayout="row">
      <mat-paginator
        #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        style="background-color: rgba(255,255,255,0)"
      ></mat-paginator>
    </div>
  </div>
</div>
