<h1 mat-dialog-title>Click on your desired location search</h1>
<div id="mapId" class="uploader-wrapper"></div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" tabindex="2" (click)="onNoClick()">Ok</button>
</div>
